
  <main class="page-container">
     <div class=" robo-image">
         <!-- <img src="asset/img/Rectangle 1.png" alt="logo senai-gpt"> -->
      </div>

      <div class="login">

         <img src="imgs/Chat.png" alt="logo senai-gpt">
        <h1 class="titulo">Login</h1>

        <input class="inpt" type="Email:" placeholder="insira o seu Email">
         <input class="inpt" type="Senha:" placeholder="insira a sua Senha">

         <button class="botao">entre</button>
    
      </div>
   </main>
   <app-root></app-root>

