<div class="container ">
    <div class=" imagem">
        <!-- <img src="asset/img/Rectangle 1.png" alt="logo senai-gpt"> -->
     </div>

     <div class="cadastro">

        <img src="imgs/Chat.png" alt="logo senai-gpt">
       <h1 class="titulo">Novo Usuário</h1>

       <input class="inpt" type="nome" placeholder="Nome" formControlName = "nome">

       <input class="inpt" type="email" placeholder="email" formControlName = "email">

       <input class="inpt" type="password" placeholder="insira a sua password" formControlName = "password">


       <button class="botao">entre</button>

      

     </div>
