<div class="container ">
    <div class=" imagem">
        <!-- <img src="asset/img/Rectangle 1.png" alt="logo senai-gpt"> -->
     </div>

     <div class="cadastro">

        <img src="imgs/Chat.png" alt="logo senai-gpt">
       <h1 class="titulo">Novo Usuário</h1>

       <input class="inpt" type="nome" placeholder="nome" formControlName = "nome">

       <input class="inpt" type="email" placeholder="email" formControlName = "email">

       <input class="inpt" type="senha" placeholder="insira uma nova senha" formControlName = "senha">

       <input class="inpt" type="senha" placeholder="confimer a senha" formControlName = " nova-senha">

       <button class="botao" (click) = "onLoginclik()">entre</button>


      

     </div>
