@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.titulo{
    font-weight: 400;
    font-size: 76;
    background: fixed;
    background-position: right;
    margin-bottom: 16px;
}