.left-panel {

    height: 100vh;
    width: 20vw;
    border-right: 1px solid #ccc;

}

.central-panel {
margin-top: 70px;
    height: 90vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.central-panel .logo {
    
    margin-top: 10px;
margin-bottom: 80px;
}

.central-panel .container {

    display: flex;
    max-width: 50vw;
    

}

.central-panel .item {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

}

.central-panel item h2 {

    /* margin-bottom: 20px; */

    display: flex; /* Usa o modelo Flexbox para organizar os elementos */
    flex-direction: column; /* Organiza os elementos em colunas */
    align-items: center; /* Cetraliza horizontalmente */

}

.central-panel .item p {

    margin-bottom: 10px;
    padding: 10px;
    background-color: #F7F9FB;
    border-radius: 8px;

}

.container {

    display: flex;
}

.top {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 74vh;

}

.top .btn-new-chat {

    width: 100%;
    background-color: black;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;

}

.btn-chat {

    width: 100%;
    background-color: transparent;
    padding: 5px;
    color: black;
    border: none;
    border-radius: 12px;
    margin-bottom: 5px;
    text-align: left;
 
    display: flex; /* Usa o modelo Flexbox para organizar os elementos */
    flex-direction: row; /* Organiza os elementos em linhas */
    align-items: center; /* Centraliza verticalmente */

}

.btn-chat i{
padding-right: 20px;
    width: 10px;
    height: 10px;

}

.bottom {
    border-top: 1px solid #ccc;
    

}

.input-container-1 {

    margin-top:20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    border: none;
    background-color: #F7F9FB;

    border-radius: 16px;

    padding-left: 15px;
    padding-right: 15px;

}

.input-container-1 input {

    border: none;
    padding: 20px;
    background-color: transparent;
    width: 40vw;

}

.input-container-2 {

    margin-top: auto;
    margin-bottom: 40px;

}

.input-container-2 input {

    padding: 20px;
    border: none;
    background-color: #F7F9FB;
    border-radius: 16px;
    width: 40vw;

}

.inpt {

    border-radius: 10px; /* Arredonda as bordas */
    padding: 18px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Remove a borda */
    background-color: #F7F9FB; /* Define a cor do fundo */
    width: 377px; /*largura*/
    margin-bottom: 16px;

}

.btn {
margin-top: 40px;
    padding: 18px;
    background-color: black;
    color: white;
    border: none; /*altura*/
    width: 377px; /*largura*/
    border-radius: 10px; /* Arredonda as bordas */
    
}

button {

    cursor: pointer;

}

p{
    font-size: 20px;
}

.chat-container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  /* Para corrigir o bug que acontece quando há muitas mensagens no chat */
  height: 90dvh;
  overflow: auto;

}

.chat-header {

  margin-bottom: 20px;

}

.chat-messages {

  width: 100%;

}

.chat-container .message-item {

  background-color: #ccc;
  border-radius: 12px 12px 0 12px;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-bottom: 20px;

}

.chat-container .message-item.chatbot {

  background-color: #ccc;
  border-radius: 12px 12px 12px 0px;
  padding: 20px;
  width: 300px;
  margin-left: unset;
  color: white;
  background: #000;
}
